*{
    max-width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    /*sitewide color palette. Use main color for branding, icons, etc. Shades are background or text colors. Use accents to draw attention.*/
    --light-shade: #DEAFB6;
    --light-accent: #D4B80E;
    --main-color: #AD72A8;
    --dark-accent: #8A533F;
    --dark-shade: #2A2B2F;

    /*sitewide fonts*/
    --display-font: 'Staatliches', cursive;
    --header-font: 'Permanent Marker', cursive;
    --default-font: 'Montserrat', sans-serif;

    /*default viewport size is >768px wide. See bottom of document for media break points.*/
    font-size: 16px; 
}

/* sitewide fonts and sizes*/
p {
    font-family: var(--default-font);
    display: inline-block;
    word-wrap:break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: var(--display-font);
}
h2 {
    font-family: var(--header-font);
}

h3 {
    font-family: var(--default-font);
}

/*body elements*/
body {
    max-width: 100%;
    background-color: var(--dark-shade);
}

.navbar {
    background-color:var(--dark-shade);
}

.navbar-item {
    color:var(--main-color);
    font: var(--default-font);
    font-size: 1.2rem;
}

.button-primary {
    background: var(--main-color);
    color: var(--light-shade);
    font-family: var(--header-font);
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    height: auto;    
}

header {
    background-color:var(--light-accent);
    padding-top: 4rem;
}

/*'hi my name is*/
#intro {
    margin: 0 0.7rem;
    color: var(--main-color);
}

/*h1 fades in on site load*/

header h1 {
    margin: 0.5rem 1rem;
    color: var(--dark-shade);
}

header h1.fadein {
    -webkit-animation: 4s fadein; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 4s fadein; /* Firefox < 16 */
    -ms-animation: 4s fadein; /* Internet Explorer */
    -o-animation: 4s fadein; /* Opera < 12.1 */
    animation: 4s fadein;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*subheader slides in from the left after brief delay*/

/*subheader styling*/
#subheader{
    margin: 0.5rem 0 0 -1.5rem;
    color: var(--light-shade);
    background-color: var(--main-color);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0.2rem 0.3rem 0.5rem var(--dark-shade);
    padding-left: 2rem; 
}

/*subheader animation control*/
.slide-right {
    overflow: hidden;
    margin-left: 0;
    max-width: inherit;
}
    
header h2.slide-right {
    animation: 2s slide-right 1s forwards;
    transform:translateX(-100%);
}
    
@keyframes slide-right {
    to {
    transform:translateX(0);
    }

}

/*animated gif*/
#header-gif {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


section {
    margin: 2rem 0 2rem 0;
    padding: 3rem 0 0rem 3rem;
    background-image: linear-gradient(to right,#fff, var(--light-shade));
}

/*section styling*/
#about p{
    margin: 1rem 1.5rem 1.5rem 0;
}

#about-img{
    max-width:100%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

#project-text{
    padding-bottom: 2rem;
}

.project-container {
    padding-top: 2rem;
}

.project-imgs {
    margin: 1.5rem auto 0 auto;
}

.project-img {
    max-width: 75%;
    margin: auto;
    padding: .5rem;
    border: .7rem solid var(--main-color);
    box-shadow: .2rem 1rem 1.5rem var(--dark-shade);
    background-color: var(--dark-shade);
}

.project-links{
    margin: 2rem 0 1rem 0;
}

.link-btn {
    margin: 0 auto;
    color: var(--dark-shade);
    font-family: var(--header-font);
    font-size: 1rem;
    background-color:var(--light-accent);

}

.link-btn:hover{
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-20 9:16:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade);
              box-shadow: 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px var(--dark-shade), 2px -2px var(--dark-shade), 3px -3px var(--dark-shade), 4px -4px var(--dark-shade), 5px -5px var(--dark-shade), 6px -6px var(--dark-shade), 7px -7px var(--dark-shade), 8px -8px var(--dark-shade);
              box-shadow: 1px -1px var(--dark-shade), 2px -2px var(--dark-shade), 3px -3px var(--dark-shade), 4px -4px var(--dark-shade), 5px -5px var(--dark-shade), 6px -6px var(--dark-shade), 7px -7px var(--dark-shade), 8px -8px var(--dark-shade);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade);
              box-shadow: 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade), 0 0 var(--dark-shade);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px var(--dark-shade), 2px -2px var(--dark-shade), 3px -3px var(--dark-shade), 4px -4px var(--dark-shade), 5px -5px var(--dark-shade), 6px -6px var(--dark-shade), 7px -7px var(--dark-shade), 8px -8px var(--dark-shade);
              box-shadow: 1px -1px var(--dark-shade), 2px -2px var(--dark-shade), 3px -3px var(--dark-shade), 4px -4px var(--dark-shade), 5px -5px var(--dark-shade), 6px -6px var(--dark-shade), 7px -7px var(--dark-shade), 8px -8px var(--dark-shade);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  


.social{
    font-family:var(--header-font);
    color:var(--dark-shade);
    font-size: 1rem;
}

.social-icon {
    padding:1rem;
    color:var(--main-color);
}

.social-icon:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 /* ----------------------------------------------
 * Generated by Animista on 2021-3-20 9:41:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  

#contact {
    padding: 3rem;
}

#contact-text {
    margin-bottom: 1rem;
    padding-right: 2rem;
}

#contact-text p {
    padding-top: 1rem;
}

.accent-icon {
    color:var(--light-accent);
}

.contact-label {
    color: var(--main-color);
}

footer {
    color: var(--light-shade);
    padding: 0 0 1.5rem 1.5rem;
}